.wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;

    width: 100%;
}

.event{
    margin: 8px 0;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #ffffff99;
    background-color: #444444;

    transition-property: transform, box-shadow;
    transition-duration: 0.3s;

    width: 100%;
}
.event:hover{
    transform: translateY(-4px);
}
.event> .title{
    padding: 4px;
    background-color: #202020;
    text-align: right;
    font-size: 0.8rem;
}
.event> img{
    width: 100%;
    height: auto;
}


