.wrapper > .event {
  border-bottom: 0.6px solid #e9e9e9;
}
.wrapper > .event:nth-last-child(1) {
  border: none;
}

.event {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 8px;
}
.event:hover {
  background-color: #e9e9e9;
}
.event > img {
  max-width: 128px;
  max-height: 128px;
  width: 128px;
  height: auto;
}
.event > .explain {
  flex: 1;
  justify-content: center !important;
  flex-direction: column;
}
.event > .explain > * {
  width: 100%;
  text-align: left !important;
  padding: 8px !important;
  flex: 0 !important;
}
