.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.wrapper > * {
  width: calc((100% / 2) - 16px);
  margin-right: 16px;
  margin-bottom: 16px;
}

@media (max-width: 500px) {
  .wrapper > * {
    width: 100% !important;
    margin-right: 0;
  }
}
@media (max-width: 1000px) {
  .wrapper > * {
    width: calc((100% / 2) - 16px);
    justify-content: space-between;
  }
}
