


.parent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.child{
    width: 500px;

    padding: 32px 16px;
    padding-top: 0!important;
    margin-bottom: 36px;
}
.form{
    text-align: left;
}
.form .buttons{
    display: flex;
    justify-content: space-between;
}
.form .buttons> *{
    width: 48%;
}
.icon{
    width: 200px;
    margin: 36px 0;
}

@media (max-width: 500px) {
    .parent{
        justify-content: center;
        align-items: center;
    }
    .child{
        padding: 0;
        width: 100%;
        border: none;
    }
}