
.wrapper{
    width: 95%;
    height: calc(100% - 48px);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    position: absolute;
    box-sizing: border-box;
}

.wrapper> .info{
    width: 350px;
    margin-right: 16px;
    height: auto;
}
.wrapper> .chat{
    flex: 1;
    height: 100%;
}


@media (max-width: 500px) {
    .wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 120%;
    }
    .wrapper> .info{
        margin-right: 0;
        width: 100%;
        margin-bottom: 16px;
    }
    .wrapper> .chat{
        margin-bottom: 16px;
    }
    .wrapper> *{
        width: 100%!important;
    }
}

