.wrapper{
    padding: 16px 0;
    cursor: pointer;

    border-bottom: 0.6px solid #ffffff33;
    border-top: 0.6px solid #ffffff33;
}
.content{
    word-break: break-all;
}

.comments{
    padding-left: 32px;
}
.create{
    margin: 8px 0;
}