
footer{
    width: 100%;

    margin-top: 32px;
    width: 100%;
    padding: 16px;
    color: #b9b9b9;
    font-size: 0.9rem;

    display: flex!important;
    justify-content: center;
    align-items: center;
}
footer> .guide{
    width: 100%;
    text-align: left;
}
.texts{
    font-size: 0.7rem;
}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.list> *{
    padding-right: 16px;
    color: #b9b9b9;
}