.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.frame{
    width: 25%;
    box-sizing: border-box;
    padding: 8px;
    cursor: pointer;
    text-align: center;

    transition-property: transform;
    transition-duration: 0.3s;

}
.frame:hover{
    padding: 7px;
    border: 1px solid #e83e8c;

    transform: translateY(-4px);
}
.frame> .img{
    width: 100%;
    height: auto;
    margin-bottom: 8px;
}
.frame> .title{
    overflow: hidden;
}
.frame> .explain{
    color: #00000099;
    font-size: 0.8rem;
}

@media (max-width: 500px) {
    .frame{
        width: 50%;
    }
}