.wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  margin-bottom: 8px;
}
.wrapper > .profile {
  width: 48px;
  height: 48px;
  font-size: 32px;
  border-radius: 100%;
  box-sizing: border-box;

  border: 1px solid #e9e9e9;
  background: none;
  cursor: pointer;

  background-color: #e9e9e9;
}
.wrapper > .profile * {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.wrapper > .contents {
  flex: 1;
  margin-left: 8px;
  border-radius: 16px;
  padding: 8px 16px;
  background-color: #f1f1f1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 64px;
}
.wrapper > .contents > .options {
  font-size: 0.8rem;
  color: #b9b9b9;

  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
