.wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin-bottom: 8px;
}

.wrapper> .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 0.8rem;
}
.wrapper> .profile> img{
    width: 32px;
    height: 32px;
    margin: 8px;
}
.wrapper> .contents{
    flex: 1;
    padding-left: 16px;
}
.wrapper> .contents> .options{
    font-size: 0.8rem;
    color: #b9b9b9;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}