.group {
  display: flex;
  justify-content: center;
  align-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}
.group > div {
  cursor: pointer;
  margin: 4px;

  text-align: center;
}
.group > div img {
  max-width: 64px;
  max-height: 64px;
  filter: grayscale(100%);

  transition-duration: 0.3s;
  transition-property: filter;
}
.group > div img:hover {
  filter: none;
}
.group > div img.selected {
  filter: none;
  animation: coloring 0.3s;
}
.group > div .label {
  display: block;
  margin-top: 4px;
  font-size: 0.8rem;
}

@keyframes coloring {
  0% {
    filter: grayscale(100%);
  }
  100% {
    filter: none;
  }
}
