.wrapper{
    width: 100%;
    max-width: 1200px;
    display: inline-block;
    border-radius: 16px;
    padding: 16px;
}
.outline{
    border: 0.6px solid #FFFFFF33;
}
.fill{
    background-color: #444444;
}


@media (max-width: 500px) {
    .wrapper{
        width: 100%;
    }
}