
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    padding: 16px;
    transform: none;

    transition-property: transform, box-shadow, background-color;
    transition-duration: 0.3s;


    background-size: 100% auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    background-color: #2ab3fe;
}
.button.disable{
    filter: grayscale(100%);
}

.button .icon{
    filter: brightness(0%) invert();
    height: 48px;
    width: 48px;

    margin-bottom: 16px;
}
.button .label{
    font-size: 1rem;
    font-weight: 600;
}