.group {
  display: flex;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}
.group > div {
  box-sizing: border-box;
  max-width: 30%;
  text-align: center;
}
.group > div img {
  max-width: 64px;
  margin: 4px 4px 0 4px;
  height: auto;
}
.group > div .label {
  display: block;
  margin-top: 4px;
  font-size: 0.8rem;
}
