
.win{
    background-color: #58A5FF33!important;
}
.win .thumbnail{
    border: 1.5px solid #58A5FF!important;
}
.lose{
    background-color: #D66F6333;
    padding: 8px;
    margin: 4px;
    border-radius: 8px;
    transition: box-shadow, transform;
    transition-duration: 0.5s;
}
.lose .thumbnail{
    border: 1.5px solid #D66F63;
}

.lose:hover{
    transform: translateY(-4px);
    box-shadow: 0 4px 8px #00000033;
}
.left{
    display: flex;
    align-items: center;
}
.left> .thumbnail{
    width: 65px;
    height: auto;
    border-radius: 50%;
    margin-right: 18px;
}
.left> *{

}