.notice{
    cursor: pointer;
    text-align: left;

    transition-property: transform;
    transition-duration: 0.3s;
}
.notice:hover{
}

.notice> .date{
    font-size: 0.8rem;
    color: #ffffff99;
}
.notice> .title{
    font-size: 1rem;
}
